@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Coming+Soon&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Coming Soon', 'Segoe UI', Geneva, Verdana, sans-serif;
  transition: background-color 500ms ease, color 500ms ease, border 500ms ease, fill 3s ease, outline 500ms ease;
}


input,
textarea,
select,
label,
span,
option {
  font-family: 'Segoe UI', Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  height: 100%;

  overflow-x: hidden;
  overflow: overlay;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

/* Modify Scrollbar Style */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
